@import "tailwindcss";

@theme {
  --color-twitter-blue: rgba(24, 179, 234, 1);
  --color-twitter-blue-muted: rgba(24, 179, 234, 0.7);
  --color-background: #F5F8FA;
}
* {
 background-color: rgb(36, 34, 34);
}